/* Navbar.css */
.navbar {
  display: grid;
  grid-template-columns: auto auto 1fr;
 /* align-items: center;*/
  background-color: #333;
  color: #d18282;
  padding: 10px;
}

.brand {
  font-size: 3rem;
}

.nav-links {
  display: flex;
  justify-content: right;
  list-style-type: none;
  padding: 0;
  padding-left:90px;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 3rch;
}

.menu-toggle {
  display: none; /* Hide initially */
  cursor: pointer;
}

/* Media query for mobile screens */
@media only screen and (max-width: 600px) {
  .navbar {
      grid-template-columns: auto 1fr;
  }

  .nav-links {
      display: none; /* Hide nav links on mobile */
      flex-direction: column;
      align-items: flex-start;
      background-color: #444; /* Background color for dropdown */
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 10px;
  }

  .menu-toggle {
      display: block; /* Show menu toggle button */
  }
}
.body{
  text-align: center ;
  margin-top: 50px;
}